<div class="container">
  <div class="row">

    <div class="col-7">
        <div class="card-pro-show col-10">
          <%= render"shared/card_pro_show" %>
        </div>
        <div class="all-reviews col-10">
          <%= render"shared/card_review", array: @pro.reviews.sort_by{|review| review.stars}.reverse %>
        </div>
    </div>

    <div class="col-5">
      <div class="booking-form">
        <%= simple_form_for [@pro, @booking] do |f| %>
          <%= f.input :equipement, collection: @equipements %>
          <%= f.input :description %>
          <%= f.input :status %>
          <%= f.input :begin, collection: @pro.availabilities_choices, label_method: :first, value_method: :second %>
          <%# f.input :begin, collection: [ ["Aujourd hui à 11h", "value pour simple_form_for"], ["Aujourd hui à 12h", "value pour simple_form_for"]], label_method: :first, value_method: :second %>
          <%= f.input :end %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

  </div>
</div>
