<div class="container-fluid">
  <div class="row-fluid justify-content-center">
    <h2 class="input-home col-6-lg-9">Rejoignez nous</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
    <div class="form-inline">
      <%= f.input :first_name,
                  required: true,
                  label: false,
                  autofocus: true,
                  placeholder: "Prénom",
                  input_html: { autocomplete: "first_name", class: "input-home input-group col-6" } %>
      <%= f.input :last_name,
                    required: true,
                    label: false,
                    autofocus: true,
                    placeholder: "Nom",
                    input_html: { autocomplete: "last_name", class: "input-home input-group col-6" } %>
    </div>
      <%= f.input :address,
                  required: true,
                  label: false,
                  autofocus: true,
                  placeholder: "Adresse",
                  input_html: { autocomplete: "address", class: "input-home col-6" } %>
    <div class="form-inline">
        <%= f.input :zip_code,
                    required: true,
                    label: false,
                    autofocus: true,
                    placeholder: "Code Postal",
                    input_html: { autocomplete: "zip_code", class: "input-home input-group col-6" } %>
        <%= f.input :city,
                    required: true,
                    label: false,
                    autofocus: true,
                    placeholder: "Ville",
                    input_html: { autocomplete: "city", class: "input-home input-group col-6" } %>
    </div>
        <%= f.input :email,
                    required: true,
                    label: false,
                    autofocus: true,
                    placeholder: "adresse email",
                    input_html: { autocomplete: "email", class: "input-home col-6" }%>
        <%= f.input :password,
                    required: true,
                    label: false,
                    placeholder: "mot de passe",
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "input-home col-6" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    placeholder: "confirmer votre mot de passe",
                    input_html: { autocomplete: "new-password", class: "input-home col-6" } %>
    <div class="col-6 align-self-end">
      <div class="form-actions btn-green">
        <%= f.button :submit, "Valider" %>
      </div>
    </div>
      <% end %>
    <div class=" col-6 align-self-end btn-orange">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
