<div id="chatbox">
  <div class="title d-flex flex-column justify-content-around">
    <div class="d-flex justify-content-around align-items-center">
      <div class="chat-with">Chat with nom de l'entreprise</div>
    </div>
    <div class="d-flex justify-content-around">
      <div class="green-bar pt-1"></div>
    </div>
  </div>

  <div class="messages pb-2">

    <% @messages.each do |message| %>
      <% if message.sender == current_user %>
        <%= render 'message_sent', message: message %>
      <% else %>
        <%= render 'message_receive', message: message %>
      <% end %>
    <% end %>
  </div>

  <div class="chat">
    <%= simple_form_for [@user, @message], html: { class: "w-100"} do |f| %>
      <div class="form-row">
        <div class="col-11 form-group">
          <%= f.input :content, html: { class: "input-chat"}, label: false, autofocus: true %>
        </div>
        <div class="col-1 form-group">
          <%= f.submit "", class: "btn-chat" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
