<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- TITLE -->
      <div id="title" class="text-center my-3">
        <h3><%= @booking.progress %></h1>
      </div>
      <!-- PROGRESS BAR -->
      <%= render 'bookings/progress_bar', status: @booking.status %>
    </div>
    <div class="col-4">
      <!-- CARD INFO BOOKING -->
      <%= render 'bookings/card_info' %>
    </div>

    <% if @booking.status < 4 %>
      <div class="col-8">
        <!-- CHATBOX  -->
        <%= render 'bookings/chatbox', messages: @messages, user_pro: @user, message: @message%>
      </div>
    <% else %>
      <% if @booking.reviews.size < 1 %>
        <div class="col-8">
           <%= render 'reviews/review_form', review: @review, booking: @booking %>
        </div>
      <% else %>
        <div class="col-8">
           <%= render 'bookings/thanks', booking: @booking %>
        </div>
      <% end %>
    <% end %>

    <div class="col-4">
      <%= render 'bookings/card_dashboard', pro: @booking.pro, booking: @booking  %>
    </div>
  </div>
</div>



