<!-- <div class="container">
  <div class="row">
    <div class="col-8 offset-4">
      <div id="title" class="text-center my-3">
        <h3><%= @booking.progress %></h3>
      </div>
    </div>
    <div class="col-8 offset-4">
      <%# render 'bookings/progress_bar', status: @booking.status %>
    </div>
    <div class="col-4">
      <%# render 'bookings/card_dashboard', pro: @booking.pro, booking: @booking  %>
    </div>

    <%# if @booking.status < 4 %>
      <div class="col-8">
        <%# render 'bookings/chatbox', messages: @messages, user_pro: @user, message: @message%>
      </div>
    <%# else %>
      <%# if @booking.reviews.size < 1 %>
        <div class="col-8">
           <%# render 'reviews/review_form', review: @review, booking: @booking %>
        </div>
      <%# else %>
        <div class="col-8">
           <%# render 'bookings/thanks', booking: @booking %>
        </div>
      <%# end %>
    <%# end %>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-4 col-12">
        <div id="title" class="text-center my-3">
          <h3><%= @booking.progress %></h3>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-12 d-flex justify-content-center">
      <%= render 'bookings/card_dashboard', pro: @booking.pro, booking: @booking  %>
    </div>
    <div class="col-lg-8 col-12">
      <div class="col-lg-12">
        <%= render 'bookings/progress_bar', status: @booking.status %>
      </div>
      <div class="col-lg-12 col-12">
       <% if @booking.status < 4 %>
              <!-- CHATBOX  -->
              <%= render 'bookings/chatbox', messages: @messages, user_pro: @user, message: @message%>
          <% else %>
            <% if @booking.reviews.size < 1 %>
                 <%= render 'reviews/review_form', review: @review, booking: @booking %>
            <% else %>
                 <%= render 'bookings/thanks', booking: @booking %>
            <% end %>
          <% end %>
      </div>
    </div>

    </div>
  </div>
</div>


