<%full_stars = "<i class='fas fa-star'></i>"%>
<%empty_stars = "<i class='far fa-star'></i>"%>
<%half_stars = "<i class='fas fa-star-half-alt'></i>"%>

<%  array.each do |user|  %>
  <div class="card-pro">
    <div class="top">
      <div class="avatar-pro">
        <%= image_tag(user.photo) %>
      </div>
      <div class="card-pro-name">
        <%= user.first_name.capitalize %> <%= user.last_name.capitalize %>
      </div>
      <div class="btn-green text-center">
        Disponible
        <%= user.availability_today == [] ? "demain" : "aujourd'hui" %>
        à
        <%= user.first_free_slot %>
      </div>
    </div>
    <div class="bottom text-center d-flex justify-content-around">
      <div class="stars">
        <% average_stars_pro = 0 %>
        <% user.reviews.each do |review| %>
            <%  average_stars_pro += review.stars %>
        <% end %>
        <% user.show_stars(average_stars_pro)[0].times do %>
          <%= full_stars.html_safe %>
        <% end %>
        <% user.show_stars(average_stars_pro)[1].times do %>
          <%= half_stars.html_safe %>
        <% end %>
        <% user.show_stars(average_stars_pro)[2].times do %>
          <%= empty_stars.html_safe %>
        <% end %>
        <p style="text-align:center;">
          <% amount_reviews = user.reviews.size %>
          <%= amount_reviews %> Avis
        </p>
      </div>
      <div class="separating-line-card-pro"></div>
      <div class="card-pro-number-bookings">
        RDV:
        <p style="text-align:center;">
          <%= user.bookings.size%>
        </p>
      </div>
    </div>
  </div>
<% end %>

pro.bookings.each do |booking|
      booked_out << booking.begin
    end
