<%full_stars = "<i class='fas fa-star'></i>"%>
<%empty_stars = "<i class='far fa-star'></i>"%>

  <% array.each do |review|  %>
  <div class="card-review p-2">
    <% full = review.stars.to_i %>
    <% empty = (5 - full).to_i %>
    <div class = "top-rev d-flex justify-content-left ">
      <div class="review-avatar mt-1">
        <%= image_tag(review.booking.equipement.user.photo)%>
      </div>
      <div class="review-descr ml-2">
        <p class="mb-0" style="font-size: 1.2rem"><%= review.booking.equipement.user.first_name.capitalize %></p>
        <p> <%= review.convert_date(review.created_at) %> </p>
      </div>
    </div>

    <div class="review-content">
      <%= review.content %>
    </div>
      <div class="review-stars">
        <%full.times do %>
          <%= full_stars.html_safe %>
        <%end%>
        <%empty.times do %>
          <%= empty_stars.html_safe %>
        <%end%>
      </div>
      <br>
    </div>
  <% end %>


